*{
	box-sizing: border-box; 
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

body{
    background-color: #FFFFFF;
	font: 15px verdana, helvica;
	padding: 0;
	margin-top: 50px;
}

.corpo {
	width: 75%;
	margin: auto;
	background-color: #FFFFFF;
	padding: 0;
}

/*logotipo da Empresa*/
.logo{
	position: relative;
	width: 50%;
	height: 300px;
	margin-top: 50px;
	margin-left: 25%;
	margin-bottom: 30px;
}

img{
	max-width: 100%;
}

/*Menu principal*/
#menu1{
	max-width: 600px;
	margin-left: 70%;
	margin-top:0;
}

#menu1 > a {
    display:inline;
	padding-right: 30px;
	margin-top: 0;
	text-decoration: none;
}

#menu{
	width: 100%;
	text-align: center;
	background-color: #708090;
}
	
#menu > a {
	display: inline-block;
	padding: 30px 45px 30px 0px;
	font: 20px arial black; 
	color: white;
}

#menu a:hover{
	color: #4169E1;
}

/*inserindo flexbox como galeria*/
.inicios {
    display: flex;
	flex-wrap: wrap;
	margin: 5em 0;
	padding: 1em;
}

.inicio {
    flex: 1 0 15em;
    margin: 1em;
    min-width: 8em;
    min-height: 8em;
} 
  
.inicio img {
    display: block;
    width: 100%;
}

.inicio .text {
	color: #585858;
	width: 100%;
	height: 100%;
	margin: auto;
  }


h1{
	font: 30px arial;
	margin-top: 50px;
	margin-left: 0;
	color: #585858;
	text-align: left;
}

p {
	margin-left: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: justify;
}

h2{
	color: #2E2E2E;
	text-align: center;
}

article {
	text-align: justify;
	margin-top: 50px;
	margin-bottom: 50px;
}

/*Formatando as imagens*/
.img_menu1{
    width: 15%;
	height: 15%;
}	

.img_google{
	width: 40%;
	height: 40%;
}
	
.img_info{
	width: 20%;
	height: 20%;
	float: right;
}

.img_dois{
	width: 20%;
	height: 20%;
	float: right;
}
.img_profissional{
	width: 100%;
	height: 50%;
	border-radius: 2px;
	box-shadow: 4px 4px;
	float: center;
	position: relative;
}

.final{
	width: 15%;
	height: 15%;
	float: left;
}
	
footer {
	position: relative;
	width: 75%;
	background-color: #708090;
	padding:5px;
	margin-top:7px;
	margin-left: 13%;
}
p.footer{
	color: #FFFFFF;
	text-align: center;
}

/*Formulario de Contato*/

.formContato {
   width: 100%;  
}  
.formContato input {  
   width: 90%;  
   margin-left: 10px;  
   margin-right: 10px;  
}  
.formContato textarea {  
   width: 90%;  
   margin-left: 10px;  
   margin-right: 10px;  
}  
.botaoContato {  
   margin-left: 10px;  
   margin-right: 10px;  
   margin-top: 1px;  
}  
.pgContato input {  
   padding-left: 20px;  
   color: #292929;  
   font-size: 18px;  
   background-color: #E9E9E9;  
   border: 1px solid #E9E9E9;  
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;  
   height: 40px;  
   margin-bottom: 20px;  
   border-bottom: 1px solid #ccc;  
   border-left: 1px solid #ccc;  
}  
.pgContato textarea {  
   padding-left: 20px;  
   color: #292929;  
   font-size: 18px;  
   background-color: #E9E9E9;  
   border: 1px solid #E9E9E9;  
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;  
   height: 200px;  
   margin-bottom: 20px;  
   border-bottom: 1px solid #ccc;  
   border-left: 1px solid #ccc;  
}  
.botaoContato {  
   border-radius: 4px;  
   color: #fff;  
   padding: 2px 40px;  
   height: 40px;  
   margin-top: 18px;  
   opacity: 0.9;  
   margin-bottom: 20px;  
   cursor: pointer;  
   background: #B22222;  
   display: inline-block;  
   border: none;  
   border-bottom: 1px solid #500707;  
   border-right: 1px solid #500707;  
}  
.botaoContato:hover {  
   opacity: 1.0;  
   transition: 1s;  
}

/*Layout Responsivo*/

@media (max-width: 900px){
	.menu a{
		display: block;
		width: 100%;
	}
}	

@media (max-width: 450px){
	.logo{
	position: relative;
	width: 70%;
	height: 300px;
	margin-top: 50px;
	margin-left: 20%;
	margin-bottom: 30px;
	}
}
